<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogLevel="Info" internalLogToConsole="false" throwConfigExceptions="true">
    
    <variable name="Layout" value="${longdate} - ${level:upperCase=true} - ${logger:shortName=true} - ${message}"/>
    
    <targets>
        <target xsi:type="ColoredConsole" name="console" enableAnsiOutput="true" useDefaultRowHighlightingRules="false" layout="${Layout}"  >
            <highlight-word regex=" INFO " foregroundcolor="Green"/>
            <highlight-word regex=" ERROR " foregroundcolor="Red"/>
            <highlight-word regex=" WARN " foregroundcolor="Yellow"/>
            <highlight-word regex=" DEBUG " foregroundcolor="Gray"/>

            <highlight-word regex="\[(.*?)\]" foregroundcolor="Cyan"/>
        </target>
        
        <target xsi:type="ColoredConsole" name="status" enableAnsiOutput="true" useDefaultRowHighlightingRules="false" layout="${Layout}" >
            <highlight-word regex=" INFO " foregroundcolor="Green"/>
            <highlight-word regex=" ERROR " foregroundcolor="Red"/>
            <highlight-word regex=" WARN " foregroundcolor="Yellow"/>
            <highlight-word regex=" DEBUG " foregroundcolor="Gray"/>

            <highlight-word regex="Get" foregroundcolor="Blue"/>
            <highlight-word regex="Post" foregroundcolor="Yellow"/>
            <highlight-word regex="\[Success\] " foregroundcolor="Green"/>
            <highlight-word regex="\[Failure\] " foregroundcolor="Red"/>
        </target>
    </targets>
    
    <rules>
        <logger name="STATUS" minlevel="Info" writeTo="status" final="true"/>
        <logger name="*" minlevel="Info" writeTo="console"/>
    </rules>
</nlog>